.venv/
.git/
__pycache__/
*.pyc
*.pyo
*.db
*.db-journal
chroma_langchain_db/
*.csv
*.ipynb
.ipynb_checkpoints/
.ruff_cache/
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage
LICENSE
README.md
.gitignore
.dockerignore
.github/
tests/
